{% extends 'base.html.twig' %}

{% block title %} Groupes de tricks | SnowTricks{% endblock %}

{% block body %}
    <div class="container-fluid my-5 content">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4">
                <form class="trick-group-add-form" method="post" action="{{ path('trick_group_add') }}">
                    <label for="add-trick-group"></label>
                    <input id="add-trick-group" name="name" type="text">
                    <button type="submit"><i class="fas fa-plus"></i></button>
                </form>
                <br>
                {% for trickGroup in trickGroups %}
                    <form class="trick-group-form" method="post" action="{{ path('trick_group_update', {'id': trickGroup.id}) }}">
                        <label for="rename-trick-group">Renommer</label>
                        <input id="rename-trick-group" type="text" value="{{ trickGroup }}">
                        <button type="submit"><i class="fas fa-edit"></i></button>
                        <a href="{{ path('trick_group_delete') }}"><i class="fas fa-delete"></i></a>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}