.content {
    flex: 1 0 auto;
}

.user-avatar {
    height: 50px;
    width: 50px;
}

.home-header {
    background: no-repeat url("../images/hero.jpg");
    background-position: top -1200px left -2700px;
    height: calc(100vh - 72px);
}

@media screen and (min-width: 1024px) {
    .home-header {
        background: no-repeat center/100% url("../images/hero.jpg");
        height: calc(100vh - 72px);
        position: relative;
    }
}

.home-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 3.5rem;
}

.tricks-anchor {
    color: #000;
}

.tricks-anchor-hero {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #fff;
}

.trick-thumbnail {
    height: 170px;
}

.no-content {
    border: 2px solid;
}

.trick-card-img {
    max-height: 1200px;
}

.delete-media-container {
    position: relative;
}

.delete-media-btn {
    position: absolute;
    top: 4px;
    left: 10px;
}

.photos-container,
.videos-container {
    flex-wrap: wrap;
}

.trick-photo,
.trick-video {
    width: 154px;
    height: 120px;
}

.trick-video-content {
    height: 140px;
}

.see-media-btn {
    display: none;
}

@media screen and (max-width: 921px) {
    .photos-container,
    .videos-container {
        flex-direction: column;
        align-items: center;
    }

     #media-container {
         display: none;
     }

    .trick-photo,
    .trick-video {
        width: 50%;
        height: auto;
        margin: 8px 0;
    }

    .see-media-btn {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .trick-card-container {
        background: no-repeat center/100% url("../images/hero.jpg");
        background-position: top;
    }

    .trick-card {
        width: 75%;
    }
}

.crud-btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.trick-description > textarea {
    height: 200px;
}