{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe | SnowTricks{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.plainPassword) }}

        <button type="submit">Changer</button>
    {{ form_end(form) }}
{% endblock %}