{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié | SnowTricks{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.email) }}

    <button type="submit">Réinitialiser</button>
    {{ form_end(form) }}
{% endblock %}