{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe | SnowTricks{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.plainPassword) }}

    <button type="submit">Réinitialiser</button>
    {{ form_end(form) }}
{% endblock %}